apiVersion: apps/v1
kind: Deployment
metadata:
  name: telegram-bot
  namespace: vpn
spec:
  replicas: 1
  selector:
    matchLabels:
      app: telegram-bot
  template:
    metadata:
      labels:
        app: telegram-bot
    spec:
      containers:
      - name: telegram-bot
        image: {{ docker_registry }}telegram-bot:latest  # Необходимо создать этот образ
        env:
        - name: BACKEND_URL
          value: "http://vpn-backend:8000"
        - name: TELEGRAM_TOKEN
          value: "your-telegram-token"  # Замените на реальный токен или используйте секреты
        volumeMounts:
        - name: outline-servers-config
          mountPath: /app/outline_servers
      volumes:
      - name: outline-servers-config
        configMap:
          name: outline-servers