[Interface]
Address = {{ wireguard_address }}
PrivateKey = {{ wg_private_key }}
ListenPort = {{ wireguard_port }}

# PostUp и PostDown команды для настройки NAT
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE

# Здесь будут добавляться пиры динамически через backend